.navbar {
  background-color: #111827;
  padding: 18px 0;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #facc15;
}

.login-btn {
  background-color: #facc15;
  color: black !important;
  padding: 9px 18px;
  border-radius: 7px;
  font-weight: bold;
}